/* Header */
.header {
  background-color: beige;
  font-family: system-ui;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  max-height: 50px;
  max-width: 100%;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
}
/* End Header */

/* Footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  font-family: system-ui;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}
/* End Footer */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */

/* chat */
.chat {
  background-color: beige;
  font-family: system-ui;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.chat .inner-head {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat .inner-head .inner-avatar {
  background: #2B2056;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  color: #fff;
}

.chat .inner-head .inner-name {
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
}

.chat .inner-body {
  padding: 10px;
  max-height: 450px;
  overflow-y: auto;
}

.chat .inner-body .inner-name {
  font-weight: 600;
}

.chat .inner-body .inner-content {
  background: #F1F1F1;
  margin-bottom: 10px;
  max-width: 220px;
  padding: 5px 10px;
  border-radius: 15px;
  line-height: 1.4;
}

.chat .inner-outgoing .inner-content {
  margin-left: auto;
  background: #2B2056;
  color: #fff;
}

.chat .inner-foot {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.chat .inner-form {
  display: flex;
  align-items: center;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #2B2056;
  background: #2B2056;
  color: #fff;
  height: 32px;
  padding: 0 10px;
  cursor: pointer;
}
/* End chat */

/* emoji-picker */
.tooltip {
  visibility: hidden;
}

.tooltip.shown {
  visibility: visible;
  opacity: 1;
}
/* End emoji-picker */

.container a {
  font-size: 18px; 
  margin-left: 10px;
  color: #2B2056;
}

#forgot-password {
  font-size: 18px;
  color: #2B2056
}

/* box-typing */
.box-typing {
  position: relative;
}

.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}

.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.1;
 }
  20% {
    opacity: 1;
 }
  100% {
    opacity: 0.1;
 }
}
/* End box-typing */