extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)
  +alert-success(5000)
  if (user)
    .container.my-3
      include ../../partials/list-btn-users.pug
  section.hero.is-primary
    .hero-body
      .container
        br
        h1.title Welcome to Our Custom Homepage!
        br
        h2.subtitle Enjoy our new features.
        br
        p We have added a lot of new features for you. Check them out!
  

