extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-btn-users.pug
    br
    .row
      .col-12
        +box-head("List friends")
    br
    .row
      each user in users
        .col-6
          div(class="box-user")
            div(class="inner-avatar")
              img(
                src="https://robohash.org/hicveldicta.png"
                alt=user.fullName
              )
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              div(class="inner-buttons")
                button(
                  class="btn btn-sm btn-primary mr-1"
                ) Message


block script
  script( src="/js/users.js")